@charset "utf-8";
/* CSS Document */

body {
	margin-left: 70px;
	background-color:#1F1F1F;
	color: white;
}

.titulo {
	font-size:35px;
	color: #FFF0A7;
}

.datos {
	margin-left: 70px;
}

a {
	text-decoration: none;
	color:white;
	font-size: 20px;
}

a:link {
	color:white;
}

.marco {
	background-color:black;
	width: 300px;
	height: 100px;
	text-align: center;
	float:left;
	padding: 50px;
	margin-top: 50px;
	margin-left: 50px;
}